*{
    margin: 0;
}
header {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  height: 100%;
  padding: 300px;
}
.images {
  position: absolute;
  width: 500px;
  height: 220px;
  left: 850px;
  top: 250px;
  color: white;
}
.images p{
    padding-top: 40px;
}
.first-btn {
    margin-top: 20px;
  width: 100px;
  height: 40px;
  margin-left: 350px;
  color: #005fac;
  font-weight: 700;
}
.second-part {
  display: flex;
  margin-top: 250px;
  justify-content: space-between;
  margin-left: 100px;
  gap: 80px;
}
.second-part h2 {
  margin-top: 300px;
  color: #444343;
}
.second-part img {
  background-color: rgb(88, 129, 129);
  border-radius: 80%;
}
.my-plan {
  margin-top: 200px;
}
.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.plan-skill-container {
  display: flex;
  margin-top: 80px;
  gap: 150px;
  margin-left: 220px;
  text-align: center;
}
.plan-skill-container img {
  width: 60px;
}

.container {
  background: url(../images/watch.png);
  background-repeat: no-repeat;
  height: 350px;
  margin-left: 50px;
  position: relative;
  margin-top: 150px;
  margin-left: 110px;
}
.container h3 {
  padding: 60px 0 50px 20px;
  font-weight: 700;
  font-size: 30px;
  color: black;
  padding-top: 80px;
}
.container button{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    color: #005fac;
    font-weight: 700;
    margin-bottom: 150px;
}
.last-part
{
    display: flex;
    gap: 200px;
    margin-top: 250px; 
    background-color: #151414;
    color: white;
}
.pera{
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.atlast-part{
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 100px;
}
.atlast-part input{
background-color: #151414;
color: wheat;
width: 250px;
height: 45px;
}
.atlast-part button{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 700;
    border-radius: none;
    background-color: #005fac;
}
.pera a{
    text-decoration: none;
}

